%h1 Listing incidents

%table
  %tr
    %th Street
    %th City
    %th State
    %th Coordinates
    %th Occurred at
    %th Description
    %th
    %th
    %th

  - @incidents.each do |incident|
    %tr
      %td= incident.street
      %td= incident.city
      %td= incident.state
      %td= incident.coordinates
      %td= incident.occurred_at
      %td= incident.description
      %td= link_to 'Show', incident
      %td= link_to 'Edit', edit_incident_path(incident)
      %td= link_to 'Destroy', incident, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Incident', new_incident_path
