!!!
%html
  %head
    %title GunFail
    = stylesheet_link_tag    "application", :media => "all"
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag "application"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAgEELz3vAGza6kB16dBbvDkq_nhYh0EKE&libraries=visualization&sensor=false"
    = csrf_meta_tags
    = tag :meta, name: "context", content: controller.controller_name
    = yield :page_metadata
  %body
    #content
      = yield
